@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Udacity Test Application</h1>

 @if (ViewData["Environment"] != null) {

    <h2 class="display-6">Environment: @ViewData["Environment"]</h2>

}

</div>
